<section class="card">
  <div class="card-body">
    <h1>About</h1>
    <p>
     MEMOROR team offers as a company a safe and reliable space within visuality through an APP that allows you to save information in the cloud through user registration.
     THE EXPERIENCE OF OUR USERS IS GUARANTEED THROUGH THE PROTECTION OF YOUR INFORMATION AND SIMPLE NAVIGATION THROUGH OUR INTERFACE.
    </p>
  </div>

  <div class="card-body">
   <img src="./img/img.jpg" id="img1"  class = "img-responsive" width = "80%" height="150%">
  </div>

</section>
