<div class="card card-body p-5 mt-4">
  <h1 class="display-4">Memoror App!</h1>
  <p class="lead">A simple App to manage Notes developed with Nodejs, Express,
    Mongodb and Javascript Technologies.</p>
  <hr class="my-4" />
  <p>Keep your privacity into a safe server.
  </p>
  <div>
    <a
      class="btn btn-primary btn-lg"
      href="/auth/signup"
      role="button"
    >Register</a>
  </div>
</div>